<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="../scripts/phaser.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/client.js"></script>
    <style>
        html, body {
            overflow: hidden;
            margin: 0;
        }
        /*body        { padding-top:80px; word-wrap:break-word; }*/
    </style>
</head>
<body onload="login()">
    <script src="../scripts/game.js"></script>
    <div id="game"></div>
</body>
</html>